<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    
    <div class="footer">
        <footer style="text-align: center;padding: 20px;">
            © 2023
        </footer>
    </div>
</body>
</html>