<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Kanit:wght@300&family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="menu">
            <div class="container today">
                <a href="/">
                    <p class="font-heading">TODAY</p>
                </a>
                <svg width="40" height="40" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M113.854 22.323h-9.667v-2.677a7.25 7.25 0 0 0-14.5 0v2.677H38.313v-2.677a7.25 7.25 0 0 0-14.5 0v2.677h-9.667a1.75 1.75 0 0 0-1.75 1.75v89.781a1.751 1.751 0 0 0 1.75 1.75h99.708a1.751 1.751 0 0 0 1.75-1.75V24.073a1.75 1.75 0 0 0-1.75-1.75zm-20.667-2.677a3.75 3.75 0 0 1 7.5 0V28.5a3.75 3.75 0 0 1-7.5 0zm-65.874 0a3.75 3.75 0 0 1 7.5 0V28.5a3.75 3.75 0 0 1-7.5 0zm-3.5 6.177V28.5a7.25 7.25 0 0 0 14.5 0v-2.677h51.374V28.5a7.25 7.25 0 0 0 14.5 0v-2.677h7.913V44.2H15.9V25.823zM15.9 112.1V47.7h96.2v64.4z"/><path d="M40.2 56h-8.721a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75H40.2a1.749 1.749 0 0 0 1.75-1.75V57.75A1.749 1.749 0 0 0 40.2 56zm-1.75 8.719h-5.221V59.5h5.218zM58.972 56h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.75 1.75 0 0 0 1.75-1.75V57.75a1.75 1.75 0 0 0-1.75-1.75zm-1.75 8.719H52V59.5h5.219zM77.747 56h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.749 1.749 0 0 0 1.75-1.75V57.75a1.749 1.749 0 0 0-1.75-1.75zM76 64.719h-5.222V59.5H76zM96.521 56H87.8a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75h8.718a1.749 1.749 0 0 0 1.75-1.75V57.75A1.749 1.749 0 0 0 96.521 56zm-1.75 8.719h-5.218V59.5h5.218zM40.2 74h-8.721a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75H40.2a1.749 1.749 0 0 0 1.75-1.75V75.75A1.749 1.749 0 0 0 40.2 74zm-1.75 8.719h-5.221V77.5h5.218zM58.972 74h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.75 1.75 0 0 0 1.75-1.75V75.75a1.75 1.75 0 0 0-1.75-1.75zm-1.75 8.719H52V77.5h5.219zM77.747 74h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.749 1.749 0 0 0 1.75-1.75V75.75a1.749 1.749 0 0 0-1.75-1.75zM76 82.719h-5.222V77.5H76zM96.521 74H87.8a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75h8.718a1.749 1.749 0 0 0 1.75-1.75V75.75A1.749 1.749 0 0 0 96.521 74zm-1.75 8.719h-5.218V77.5h5.218zM40.2 92h-8.721a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75H40.2a1.749 1.749 0 0 0 1.75-1.75V93.75A1.749 1.749 0 0 0 40.2 92zm-1.75 8.719h-5.221V95.5h5.218zM58.972 92h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.75 1.75 0 0 0 1.75-1.75V93.75a1.75 1.75 0 0 0-1.75-1.75zm-1.75 8.719H52V95.5h5.219zM77.747 92h-8.719a1.75 1.75 0 0 0-1.75 1.75v8.719a1.75 1.75 0 0 0 1.75 1.75h8.719a1.749 1.749 0 0 0 1.75-1.75V93.75a1.749 1.749 0 0 0-1.75-1.75zM76 100.719h-5.222V95.5H76zM96.521 92H87.8a1.749 1.749 0 0 0-1.75 1.75v8.719a1.749 1.749 0 0 0 1.75 1.75h8.718a1.749 1.749 0 0 0 1.75-1.75V93.75A1.749 1.749 0 0 0 96.521 92zm-1.75 8.719h-5.218V95.5h5.218z"/></svg>
            </div>
            <div class="container">
                <a href="/work">
                    <p class="font-heading">WORK</p>
                </a>
                <svg style="width: 40; height: 40;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M783.189333 128H782.222222V71.111111a28.444444 28.444444 0 0 0-56.888889 0v56.888889h-99.555555V71.111111a28.444444 28.444444 0 0 0-56.888889 0v56.888889h-99.555556V71.111111a28.444444 28.444444 0 0 0-56.888889 0v56.888889h-99.555555V71.111111a28.444444 28.444444 0 0 0-56.888889 0v56.888889h-15.189333A98.602667 98.602667 0 0 0 142.222222 226.588444v656.156445A98.602667 98.602667 0 0 0 240.810667 981.333333h542.378666A98.602667 98.602667 0 0 0 881.777778 882.744889V226.588444A98.602667 98.602667 0 0 0 783.189333 128z m-542.378666 56.888889H256v71.111111a28.444444 28.444444 0 0 0 56.888889 0v-71.111111h99.555555v71.111111a28.444444 28.444444 0 0 0 56.888889 0v-71.111111h99.555556v71.111111a28.444444 28.444444 0 0 0 56.888889 0v-71.111111h99.555555v71.111111a28.444444 28.444444 0 0 0 56.888889 0v-71.111111h0.967111A41.699556 41.699556 0 0 1 824.888889 226.588444V369.777778H199.111111V226.588444A41.699556 41.699556 0 0 1 240.810667 184.888889z m542.378666 739.555555H240.810667A41.699556 41.699556 0 0 1 199.111111 882.744889V398.222222h625.777778v484.522667A41.685333 41.685333 0 0 1 783.189333 924.444444z" fill="" /><path d="M768 725.333333a14.222222 14.222222 0 0 0-14.222222 14.222223v45.283555C753.777778 826.439111 740.977778 853.333333 718.520889 853.333333H485.248a14.222222 14.222222 0 1 0 0 28.444445h233.272889C758.243556 881.777778 782.222222 843.733333 782.222222 784.839111V739.555556a14.222222 14.222222 0 0 0-14.222222-14.222223zM761.272889 657.792a14.250667 14.250667 0 0 0 0 20.053333 14.464 14.464 0 0 0 20.209778 0c2.574222-2.702222 4.124444-6.414222 4.124444-10.112 0-3.712-1.550222-7.409778-4.124444-10.083555-5.404444-5.276444-14.776889-5.134222-20.209778 0.142222z" fill="" /></svg>
            </div>
        </div>
        
        <% const today = new Date();
        const options = { weekday : 'long', month: 'long', day: 'numeric' };
        const formattedDate = today.toLocaleDateString(undefined, options); %>

        <div class="box">
            <h1 class="date"><%= formattedDate %></h1>
        </div>
    </header>
    
</body>
</html>